<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="apple-touch-icon" sizes="57x57" href="~/img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/img/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/img/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/img/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/img/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/img/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="~/img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/img/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="~/img/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="~/img/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="~/img/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">


    @Styles.Render("~/Content/css")
        @Styles.Render("~/css/style.css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Custom CSS -->
    @Styles.Render("~/css/landing-page.css")

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("HouKnowApp", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("MapApp", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Story Maps", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("About", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Contact", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-inline">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li class="footer-menu-divider">&sdot;</li>
                            <li>
                                <a href="@Url.Action("About", "Home")">About</a>
                            </li>
                            <li class="footer-menu-divider">&sdot;</li>
                            <li>
                                <a href="#contact">Contact</a>
                            </li>
                        </ul>
                        <p class="copyright text-muted small">Copyright &copy; HouKnowHow 2015. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/js/scripts.js")
</body>
</html>
